body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: auto !important;
  height: auto !important;
  background: #EBF6FF;
}
h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #30321C;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #30321C;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
  webkit-padding: 0;
  moz-padding: 0;
}

hr {
  height: 2px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #1e7a46;
  margin-bottom: 20px;
  border: 0;
}

/* Navigation */

#menu {
  padding-bottom: 10px;
  transition: all 0.8s;
}

#menu .container{ 
  padding: 0;
}
#menu.navbar-default {
  background-color: #12100E;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin: 0;
}

#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  height: 20px;
  font-weight: 700;
  color: #9C8474;
  text-transform: uppercase;
}

#menu img {
  background: #12100E;
  padding-top: 5%;
  margin-bottom: -40;
  margin-left: -200;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: #9C8474;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right,#007ACC 0%, #0071bc 100%);
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 100%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  left: 0 !important;
  bottom: -1px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #007ACC 0%, #0071bc 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle {
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #30321C;
}
.section-title {
  margin-bottom: 70px;
}
.section-title h2 {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #007ACC 0%, #0071bc 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
.section-title p {
  font-size: 18px;
}
.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #EBEAEB;
  background-color: #0071bc;
  background-image: linear-gradient(to right, #007ACC 0%, #0071bc 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #EBEAEB;
  background-image: none;
  background-color: #0062A3;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}

/* Error Page Hero */
.error {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  background: url(../img/errorPage.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.error-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
  color: red;
}

/* Header Section */
.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 0;
  background: url(../img/heroImg.jpg) center center no-repeat;
  background-color: #e5e5e5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .overlay {
  background: rgba(0, 0, 0, 0.2);
}
.intro h1 {
  font-family: "Raleway", sans-serif;
  color: #D3D3D3;
  font-size: 74px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.intro h1 span {
  font-weight: 800;
  color: #0071bc;
}
.intro p {
  color: #12100E;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
}
header .intro-text {
  padding-top: 350px;
  padding-bottom: 200px;
  text-align: center;
}

/* animation class and keyframes */
.overflow-hidden {
  overflow: hidden;
}
 
 .drop-in {
  animation: drop-in 1s ease 200ms backwards;
}
 
 .drop-in-2 {
  animation: drop-in 1200ms ease 500ms backwards;
}

 .drop-in-3 {
  animation: drop-in 1200ms ease 700ms backwards;
}

 .drop-in-4 {
  animation: drop-in 1200ms ease 900ms backwards;
 }
 
 @keyframes drop-in {
  from {
   opacity: 0;
   transform: translateY(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

/* Mobile styles for nav and home page */

@media (max-width: 600px) {

  body, html {
    width: 390px;
  }

  #menu{
    width: 390px;
  }
  #menu img {
    margin-left: 20%;
    padding-top: 12%;
  }

  #menu .navbar-header {
    display: flex;
  }

  #menu .navbar-header button {
    margin-left: 10px;
    padding-top: 20;
  }

  #header .container {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
  }

  #header .intro {
    width: 100%;
    display: block;
    height: 112vh;
  }

  #header .row {
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    margin-left: 0;
  }

  #header{
    width: 390px;
  }

  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin: 0%;
  }

   .intro h1{
    font-size: 40px;
    text-align: left;
    margin-right: 90px;
    padding-bottom: 20px;
  }

  .intro p {
    text-align: left;
    margin-bottom: 10px;
  }

  #header .intro-text {
    text-align: left;
    padding-top: 220px;
  }

}

/* About Section */
#about {
  padding: 10% 0 0 0;
  background: #EBEAEB;
}
#about h3 {
  font-size: 22px;
  margin: 0 0 20px;
}
#about h2 {
  position: relative;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#about h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #007ACC 0%, #0071bc 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 0;
}
#about .about-text-2 li {
  margin-bottom: 6px;
  margin-left: 6px;
  list-style: none;
  padding: 0;
}

#about .about-text-2 li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #0071bc;
  font-size: 11px;
  font-weight: 300;
  padding-right: 8px;
}
#about img {
  width: 520px;
  margin-top: 10px;
  background: #EBEAEB;
  border-right: 0;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}
#about p {
  line-height: 24px;
  margin: 30px 0;
}

.row2 {
  margin-top: 3%;
  margin-bottom: 1%;
}

.bottom-img{
  margin-bottom: 4%;
}

/* animation class and keyframes */

.slide-in {
  animation: slide-in 1s ease 200ms backwards;
 }
 
 .slide-in-2 {
  animation: slide-in-2 1200ms ease 700ms backwards;
 }

 
 @keyframes slide-in {
  from {
   opacity: 0;
   transform: translateX(-100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
}

@keyframes slide-in-2 {
  from {
   opacity: 0;
   transform: translateX(100px);
  }
  to {
   opacity: 1;
   transform: translate(0px);
  }
 }

/* Mobile styles for about page */
@media (max-width: 600px) {

  #about {
    width: 100%;
  }

  #about .container {
    padding-right: 0;
    padding-left: 0;
    margin: 0;
  }



  #about .row {
    margin: 0;
    width: fit-content;
  }

  #about .img-responsive .bottom-img{
    margin-bottom: 0%;
  }
}

/* Services Section */
#services {
  padding: 100px 0;
  background: #EBEAEB;
  color: #12100E;
}
#services .service-desc {
  margin: 5px 5px 10px;
}
#services h2 {
  color: #12100E;
}
#services .section-title h2::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #007ACC 0%, #0071bc 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

.flip-container {
	perspective: 1000px;
}

.flipper{
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

#services i.fa {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #00568F 0%, #0071bc 100%);
  border-radius: 50%;
  color: #EBEAEB;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#services i.fa:hover {
  font-size: 42px;
  width: 120px;
  height: 120px;
  padding: 40px 0;
  background: linear-gradient(to right, #00568F 0%, #0071bc 100%);
  border-radius: 50%;
  color: #EBEAEB;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#services h3 {
  font-weight: 500;
  padding: 5px 0;
  color: #12100E;
}
#services p {
  color: #12100E;
}

#services .service-desc {
  margin-bottom: 40px;
}

/* Mobile styles for services page */
@media (max-width: 600px) {
  #services {
    padding-bottom: 20px;
  }
}

/* Portfolio Section */
#portfolio {
  padding: 100px 0;
  background-color: #EBEAEB;
}
.portfolio-item {
  margin: 1px -15px 0 -14px;
  padding: 0;
}
.portfolio-item .hover-bg {
  overflow: hidden;
  position: relative;
  margin: 1%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #EBEAEB;
  background: linear-gradient(
    to right,
    #00568F 0%, #0071bc
  );
  padding: 30% 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #EBEAEB;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  transition: all 0.3s;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
}
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.hover-bg:hover .hover-text {
  opacity: 1;
}

/* Contact Section */
#contact {
  padding: 120px 0 60px;
  padding-bottom: 10%;
  background: linear-gradient(to right,  #00568F 0%, #0071bc 100%);
  color: rgba(255, 255, 255, 0.75);
}
#contact .section-title {
  margin-bottom: 10px;
}
#contact .section-title p {
  font-size: 16px;
}
#contact h2 {
  color: #EBF6FF;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#contact .section-title h2::after {
  position: absolute;
  content: "";
  background: #9C8474;
  height: 4px;
  width: 60px;
  bottom: 0;
  left: 30px;
}
#contact h3 {
  color: #EBF6FF;
  margin-top: 80px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  font-weight: 400;
}

#contact form {
  padding-top: 20px;
}

#contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

#contact .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font: 15px/24px, 'lato'; 
  color: #EBF6FF;
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;   
  background: transparent;
}

:focus{
  outline: none;
}

.effect{
  border: 0; 
  padding: 7px 0; 
  border-bottom: 1px solid #ccc;
}

.effect ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 2px; 
  background-color: #9C8474; 
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}
.effect:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

.col-3{
  float: left; 
  width: 60%; 
  margin: 10px 0; 
  position: relative;
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contact .form-control {
  display: flex;
  width: 60%;
  margin-top: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #EBF6FF;
  background-color: transparent;
  background-image: none;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  flex-direction: column;
  align-items: center;
}

#contact .form-control:focus {
  border-color: #9C8474; 
  transition: 0.4s;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
}

.form-control::-webkit-input-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
.form-control:-moz-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
.form-control::-moz-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
.form-control:-ms-input-placeholder {
  color: #EBF6FF;
  opacity: .5;
}

input::-webkit-input-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
input:-moz-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
input::-moz-placeholder {
  color: #EBF6FF;
  opacity: .5;
}
input:-ms-input-placeholder {
  color: #EBF6FF;
  opacity: .5;
}

#contact .btn-custom {
  margin-top: 30px;
  margin-bottom: 5%;
  background: transparent;
  border: 1px solid #EBF6FF;
  border-radius: 0;
}
#contact .btn-custom:hover {
  color: #9C8474;
  background: #EBF6FF;
}

/* Thank you page */

#thankyou{
  background: #12100E;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing:border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper-1{
  width:100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.wrapper-2{
  padding :30px;
  text-align:center;
}

h1{
  font-family: 'Courier New';
  font-size:4em;
  letter-spacing:3px;
  color:#EBEAEB ;
  margin:0;
  margin-bottom:20px;
}

.wrapper-2 p{
  margin:0;
  font-size:1.3em;
  color:#aaa;
  font-family: 'Courier';
  letter-spacing:1px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px)
  and (orientation: portrait) { 

    .wrapper-1{
      height: initial;
      max-width:620px;
      margin:0 auto;
      margin-top:10%;
      box-shadow: 4px 8px 40px 8px #0071bc;
    }
}

@media (min-width:600px){
  .wrapper-1{
  height: initial;
  max-width:620px;
  margin:0 auto;
  margin-top:50px;
  box-shadow: 4px 8px 40px 8px #0071bc;
}

h1{
  font-size:4.5em;
}
  
}

/* Footer Section*/
#footer{
  display: flex;
  flex-direction: column;
  background: #12100E;
  color: #868c96;
}

#footer .container {
  display: flex;
  padding-top: 10px;
  align-items: center;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact-area {
  border-bottom: 1px solid #353C46;
}

.contact-content h6 {
  color: #8b9199;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.contact-content span {
  color: #353c47;
  margin: 0 5px;
}

.contact-social {
  margin-top: 12px;
}

.contact-social > ul {
  display: inline-flex;
}

.contact-social ul li a {
  border: 1px solid #8b9199;
  color: #8b9199;
  display: inline-block;
  height: 30px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 30px;
  border-radius: 50%;
}

.contact-social ul li a:hover {
  border: 1px solid #006EB8;
  color: #006EB8;
} 

footer p {
  margin-top: 10px;
  text-align: center;
}

footer img {
  width: 70px;
}

